.footer {
  margin-top: 80px;
  padding-top: 60px;

  border-top: 1px solid #cfc8bc;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.footer-brand {
  max-width: 350px;
}

.footer-brand h2 {
  margin-bottom: 20px;

  font-size: 32px;
  color: #314236;
}

.footer-brand p {
  color: #6d6d6d;
  line-height: 1.7;
}

.social-icons {
  display: flex;
  gap: 12px;

  margin-top: 24px;
}

.social-icons a {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  background: #dce5dc;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #314236;

  text-decoration: none;
}

.footer-links {
  display: flex;
  gap: 70px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links h4 {
  margin-bottom: 10px;
  color: #314236;
}

.footer-links a {
  color: #6d6d6d;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 50px;
  padding: 25px 0;

  border-top: 1px solid #ddd;

  text-align: center;
}

.footer-bottom p {
  color: #777;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 40px;
    margin-left: 20px;
  }

  .footer-links {
    flex-direction: column;
    gap: 30px;
  }

  .footer-brand {
    max-width: 100%;
  }
}