@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #d9dbd4;
  --surface: #f8f5ef;
  --primary: #314236;
  --text: #1f2933;
  --border: #ddd7cd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  font-family: 'Open Sans', sans-serif;
  color: var(--text);
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Layout principal */

.app {
  max-width: 85%;
  margin: 0 auto;
  padding: 30px;

  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 28px;

  align-items: start;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* Header ocupa todo el ancho */

.header {
  grid-column: 1 / -1;
}

/* Sidebar carrito */

.cart {
  position: sticky;
  top: 30px;
  height: fit-content;
}

/* Reset */

button {
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}


@media (max-width: 992px) {
  .app {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .main-content {
    padding: 0 20px;
  }

  .cart {
    position: static;
    max-height: none;
    width: 100%;
  }
}

